body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container-privacy {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

h2 {
  font-size: 1.8rem;
  margin-top: 30px;
  color: #000000;
}
.privacy p {
  margin: 10px 0;
  text-align: justify;
}

ul {
  margin: 15px 0;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.footer-privacy {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  color: #666;
}
